<div class="p-grid sample-layout">
  <div class="p-col-12 p-md-2">

    <div style="width:100%; padding-bottom: 5px;">
      <button pButton type="button" icon="pi pi-check" style="width:100%;" label="Cadastro" (click)="getAllLocalStore()"></button>
    </div>
    <div style="width:100%; padding-bottom: 5px;">
      <button pButton type="button" icon="pi pi-check" style="width:100%;" label="Exibir"></button>
    </div>

    <!-- <p-menu [model]="itemsMenu p-col-12 p-md-2"></p-menu> -->

    <!-- <div style="border: 1px solid black; width: 100%; height: 30px;">
      <span class="al-left">
          <i class="fa fa-anchor" aria-hidden="true"></i>
      </span>
    </div> -->
  </div>
  
  <div class="p-col-12 p-md-10  p-col-nogutter">
    <div class="p-col-12 p-col-nogutter al-left">
      <p-breadcrumb [model]="breadcrumbs"></p-breadcrumb>
    </div>
    <p-card>

      <p-toast [style]="{marginTop: '80px'}"></p-toast>

      <form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
        <p-panel header="Cadastro de Itens">
          <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

            <div class="ui-grid-row">
              <div class="ui-grid-col-2 al-right">
                Nome do Item *:
              </div>
              <div class="ui-grid-col-6">
                <input pInputText type="text" formControlName="nomeItem" placeholder="Required" />
              </div>

              <div class="ui-grid-col-4">
                <p-message severity="error" [text]="userform.controls['nomeItem'].errors['required'] 
                    ? 'O campo Nome do Item é obrigatório'
                    : userform.controls['nomeItem'].errors['maxlength'] ? 'Número máximo de caracteres para o campo é 50'
                    : userform.controls['nomeItem'].errors['pattern'] ? 'Somente letras'
                    : ''" *ngIf="!userform.controls['nomeItem'].valid&&userform.controls['nomeItem'].dirty">
                </p-message>
              </div>

              <!-- <div class="ui-grid-col-4">
                <p-message severity="error" text="O campo Nome do Item é obrigatório"
                  *ngIf="!userform.controls['nomeItem'].valid&&userform.controls['nomeItem'].dirty"></p-message>
              </div> -->
            </div>

            <div class="ui-grid-row">
              <div class="ui-grid-col-2 al-right">
                Unidade de Medida *:
              </div>
              <div class="ui-grid-col-6">
                <p-dropdown [options]="unidadesDeMedida" formControlName="unidadeMedida"></p-dropdown>
                <!-- <p-dropdown [options]="genders" formControlName="gender"></p-dropdown> -->
              </div>
              <div class="ui-grid-col-4">
                <p-message severity="error" text="Selecione uma unidade de medida"
                  *ngIf="!userform.controls['unidadeMedida'].valid&&userform.controls['unidadeMedida'].dirty">
                </p-message>
              </div>
            </div>

            <div class="ui-grid-row">
              <div class="ui-grid-col-2 al-right">
                Quantidade *:
              </div>
              <div class="ui-grid-col-6">
                <input pInputText type="number" formControlName="quantidade" />
              </div>
            </div>

            <div class="ui-grid-row">
              <div class="ui-grid-col-2 al-right">
                Preço *:
              </div>
              <div class="ui-grid-col-6">
                <input pInputText type="number" formControlName="preco" />
                <!-- <p-inputMask formControlName="preco" mask="999,99" placeholder="999,99"></p-inputMask> -->
              </div>
              <div class="ui-grid-col-4">
                <p-message severity="error" text="O campo Preço é obrigatório"
                  *ngIf="!userform.controls['preco'].valid&&userform.controls['preco'].dirty"></p-message>
              </div>
            </div>

            <div class="ui-grid-row">
              <div class="ui-grid-col-2 al-right">
                Produto Perecível:
              </div>
              <div class="ui-grid-col-1 al-left">
                <p-checkbox name="groupname" binary="true" formControlName="perecivel"></p-checkbox>
              </div>
            </div>

            <div class="ui-grid-row">
              <div class="ui-grid-col-2 al-right">
                Data de Validade:
              </div>
              <div class="ui-grid-col-2">
                <p-calendar [showIcon]="true" formControlName="dataValidade" dateFormat="dd/mm/yy"></p-calendar>
              </div>
              <div class="ui-grid-col-2 al-right">
                Data de Fabricação:
              </div>
              <div class="ui-grid-col-2">
                <p-calendar [showIcon]="true" formControlName="dataFabricacao" dateFormat="dd/mm/yy"></p-calendar>
              </div>
            </div>

            <!-- <div class="ui-grid-row">
              <div class="ui-grid-col-2">
                Password *:
              </div>
              <div class="ui-grid-col-6">
                <input pInputText type="password" formControlName="password" placeholder="Required - Min(6)" />
              </div>
              <div class="ui-grid-col-4">
                <p-message severity="error"
                  [text]="userform.controls['password'].errors['required'] ? 'Password is required' : userform.controls['password'].errors['minlength'] ? 'Must be longer than 6 characters' : ''"
                  *ngIf="!userform.controls['password'].valid&&userform.controls['password'].dirty"></p-message>
              </div>
            </div> -->

            <div class="ui-grid-row">
              <div class="ui-grid-col-2"></div>
              <div class="ui-grid-col-6">
                <button pButton type="submit" label="Submit" [disabled]="!userform.valid"></button>
              </div>
              <div class="ui-grid-col-4"></div>
            </div>
            <!-- <div style="text-align:center;margin-top:20px" *ngIf="submitted">
              Form Submitted

            </div> -->
          </div>
        </p-panel>
      </form>
    </p-card>
  </div>
  <div class="p-col-12">
    Footer
  </div>
</div>

<router-outlet></router-outlet>