.sample-layout>div {
    background-color: #f1f1f1;
    text-align: center;
    padding: 0.5em;
    border-radius: 4px;
}

.box-stretched {
    height: 100%;
}

.sample-layout {
    margin: 0;
}

.sample-layout>div {
    border: 1px solid #ffffff;
}

.vertical-container {
    margin: 0;
    height: 200px;
    background: #efefef;
    border-radius: 4px;
}

.nested-grid .p-col-4 {
    padding-bottom: 1em;
}

.pl-pr-2 {
    padding-left: 2px;
    padding-right: 2px;
}

.breadcrumb {
    text-align: left;
}
.al-right {
    text-align: right !important;
}

.al-left {
    text-align: left !important;
}