<div class="p-grid sample-layout">
        <div class="p-col-12 p-md-2">
      
          <div style="width:100%; padding-bottom: 5px;">
            <button pButton type="button" icon="pi pi-check" style="width:100%;" label="Cadastro"
              (click)="getPageForm()"></button>
          </div>
          <div style="width:100%; padding-bottom: 5px;">
            <button pButton type="button" icon="pi pi-check" style="width:100%;" label="Listagem"
            (click)="getPageList()"></button>
          </div>
        </div>
      
        <div class="p-col-12 p-md-10  p-col-nogutter">
          <div class="p-col-12 p-col-nogutter al-left">
            <p-breadcrumb [model]="breadcrumbs"></p-breadcrumb>
          </div>
          <p-card>
            <router-outlet></router-outlet>
          </p-card>
        </div>
        <div class="p-col-12">
          
        </div>
      </div>